/* removes trending today*/ 
div#TrendingPostsContainer {
    display: none;
}

/*removes drop down from search*/
div#SearchDropdownContent {
    display: none;
}

/*for users not logged in*/
div.masthead.w {
    display: none;
}